@font-face {
  font-family: "NotoSansKR";
  font-weight: normal;
  src: url("./fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "NotoSansKR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
